<ion-header>
  <ion-toolbar mode="ios" color="warning">
    <ion-title>
      Email Composer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="centro">
    <ion-button color="warning" shape="round" (click)="enviar()">Enviar</ion-button>
  </div>
 
</ion-content>

<ion-footer mode="ios">
  <ion-toolbar color="warning">
    <div>
      <ion-title>Realizado por Cedeño Richards</ion-title><br><br>
      <ion-label id="label">UPSE-2021</ion-label>
    </div>
  </ion-toolbar>
</ion-footer>
